@page
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@model WebPages.Pages.Account.LoginModel


<div class="container">

    <form method="post">
        
        <div asp-validation-summary="All" class="text-danger mb-2" style="font-size: 11px;"></div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="UserName" asp-for="UserName">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Pass" asp-for="Password">
        </div>

        <button type="submit" class="btn btn-primary">LogModein</button>
        
        <partial name="_ExternalLogin.cshtml"/>
        

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</div>
