<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Used to toggle the log levels for the main log files -->
    <!-- NOTE: Changing this will also flow down into serilog.user.config -->
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:minimum-level:override:Microsoft" value="Warning" />
    <add key="serilog:minimum-level:override:Microsoft.AspNetCore.Mvc" value="Error" />
    <!-- To write to new log locations (aka Sinks) such as your own .txt files, ELMAH.io, Elastic, SEQ -->
    <!-- Please use the serilog.user.config file to configure your own logging needs -->

  </appSettings>
</configuration>